<!DOCTYPE html>
<html>
  <head>
    <title><%= nome %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= nome %></h1>
    <p>Bem vindo ao <%= nome %></p>
    <p>Nossos cursos são: <%= cursos %></p>
  </body>
</html>
